<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/topbar.ejs') %>

    <main class="wrapper">
        <% if (articles && articles.length) { %>
            <%- include('./partials/hero.ejs') %>
            <%- include('./partials/chips.ejs') %>
            <section class="news" id="news">
                <% articles.forEach(function(article){ %>
                    <%- include('./partials/card.ejs', { article: article }) %>
                <% }) %>
            </section>
        <% } else { %>
            <%- include('./partials/empty.ejs') %>
        <% } %>
    </main>

    <%- include('./partials/foot.ejs') %>
</body>
</html>
